{% extends 'bootstrap/base.html' %}
    {% if title %}
        <title>{{ title }} - Covid Tracker</title>
    {% else %}
        <title>Welcome to Covid Tracker</title>
    {% endif %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <a href="{{ url_for('index') }}" class="navbar-brand">Home</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('scrape') }}" class="navbar-brand">Get newest data</a>
        <a href="{{ url_for('logout') }}" class="navbar-brand">Logout</a>
        {% endif %}
    </nav>
{% endblock %}